/* #region Table of Content */
/*    
!                  Four-Wins-Online Main-CSS-Stylsheet
?                                    powered by
!                                     Stefan Bartl
!                      (WKDSteVIE / WKDMinerva)
?                                          2021                                                                                                                                                                        
?                  ________________________________                                                                                                                                                                                                  
!                                   Table of content

?                                     1) General                                                                                                
?                                     2) Layout                                                                                                                                      
?                                     3) Gameboard                                                                                                                                 
?                                     4) Settings Menu                                                                                                                                                                                   
?                                     5) Typography                                                                                                                                        
?                                     6) Inputs, Buttons, Dropdowns, etc...                                                                                                         
?                                     7) Animations & Transitions                                                                                                                       
?                                     8) Game End Screen           
?                                     9) Helpers                                   
?                                    10) Media Queries                                                                                                                                   
?                                    11) Final Information & Comments                                                                                                                    
?                                    12) Credits                                                                                                                                       
?                               13-15) My CSS-Guideline                          
!                                                                                                                                                                                                                                                                             */

/*#endregion*/
/* #region Jobs To-Do */
/*

!                           Jobs To-Do: 

todo    -) Game-End-Screen Style
todo    -) data-x Attribute verwenden wo es Sinn macht.
todo    -) Scrollbar rechts am starting Bildschirm muss weg, sonst funktioniert das Menu ästhetisch nicht mehr.
todo    -) :focus on all :hovers for Cross-Browser-Support!
todo    -) Test and repair responsivness in all sizes! -> Menu muss von der Seite weg!
todo    -) CSS-Code minimizing f.e. bind repetative Classes to one Class!
todo    -) INGAME Section?
todo    -) Fonts!
todo    -) Font working on all Browser correctly?
todo    -) Find a final, real good styling!

?                               Finish
todo    -) Take a look at the Bonus Jobs - maybe you have enough passion to do one :-)
todo    -) Final formatation (especially script & library sections/functions), comments:
todo    -) Make sure all important is commented !
todo    -) Write a final Comment !
todo    -) Save Default Script Files with the new Script Layout for later Projects. Also the index with the all new Toggle Slider and make a new "global" Library for JS & CSS !

!                         Session progress:                                                
? -)                                                                                                                                                                                             
*/
/* #endregion */

/* #region 1) General */

:root {
  /* ==========
 !       colour pallete 
              ========== */

  --prime-blueviolett: hsl(238, 56%, 19%);
  --prime-darkgrey: hsl(330, 2%, 17%);
  --prime-green: hsl(95, 63%, 36%);
  --prime-yellow: hsl(43, 100%, 50%);
  --prime-manner: hsl(10, 60%, 80%);
  --prime-lightgrey: hsl(71, 13%, 67%);

  --base-colour: hsl(201, 79%, 46%);
  --main-black: hsl(0, 0%, 0%);
  --main-red: hsl(0, 100%, 50%);

  --base-border: hsl(0, 0%, 100%);
  --gameboard: hsl(240, 100%, 49%);
  --cornsilk: hsl(48, 100%, 93%);
  --top-header: hsl(39, 77%, 83%);

  overflow-wrap: break-word;
  word-wrap: break-word;

  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  
}

/* =====
!     resets 
            ===== */
/* #region Resets */

/* box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
} 

/* margins */
body,
h1, h2, h3, h4, h5, h6,
figure, picture {
  margin: 0;
}

/* set up the body*/
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */ 
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who turned them off*/
@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* #endregion */

/* =====
!     fonts 
            ===== */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/* 
  Handwriting
font-family: 'Comforter Brush', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

/* #endregion */

/* #region 2) Layout */

body {
  background-color: var(--base-colour);
  z-index: -3;
  font-family: "Titillium Web", sans-serif;
  color: var(--top-header);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid: 20vh auto auto / 1fr;
  font-family: 'Anton', sans-serif;
}

/* ==========
 !    1. grid layer 
            ========== */

header {
  border-bottom: solid 1vh var(--base-border);
  border-radius: 1rem;
  line-height: 0;
  display: grid;
  grid: 1fr 1fr / 1fr;
}

.Class_MainWrapper {
  display: grid;
  grid: auto / 30% auto 30%;
  grid-template-areas: "leftSide gameboard rightSide";
}

footer {
  display: grid;
  grid: 1fr / 1fr 1fr;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ===============
!     sidebars grid layer 
          ================ */

.Class_LeftSidebarWrapper {
  grid-area: leftSide;
}

.Class_RightSidebarWrapper {
  grid-area: rightSide;
  z-index: 1;
}

.Class_Sidebars {
  border-bottom: solid 1px var(--base-border);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  border-top: solid 1px var(--base-border);
  margin-top: 20%;

}

.Class_Sidebars h3{
  margin-top: 1em;
}

/* =========
!     gameboard 
            ========= */

.Class_GameboardWrapper {
  grid-area: gameboard;
  display: flex;
  background-color: var(--gameboard);
  border: solid 1rem var(--gameboard);
  border-top: dashed 0.1rem var(--gameboard);
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.Class_GameboardWrapper[data-inGame="yes"] {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 70vh;
    aspect-ratio: 1/1;
}

.Class_GameboardWrapper[data-inGame="gameend"] {
    margin-block: 2rem;
}

footer {
  display: grid;
  grid: 1fr / repeat(8, 1fr);
  gap: 1em;
}

#ID_Choose_KI_Div {
  grid-column-start: 3;
  grid-column-end: 5;
  margin-bottom: 2rem;
  justify-self: flex-end;
}


/* #endregion */

/* #region 3) Gameboard */

.Class_Columns {
  width: 100%;
  height: max-content;
}

.Class_TopCells {
  outline: none;
  aspect-ratio: 1/1;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border-left: dashed 0.15rem var(--base-border);
  background-color: var(--base-colour);
  z-index: -1;
  cursor: pointer;
}

    /* If column is full lock the top-cell,...*/
.Class_TopCells[data-columnfull='yes'] {
  border-top: solid 2px var(--gameboard);
  pointer-events: none;
  
}

#ID_C1R0{
    border-left: none;
}

.Class_Cells {
  aspect-ratio: 1 / 1;
  border: solid 0.2rem var(--gameboard);
  border-radius: 10rem;
  background-color: var(--base-border);
  opacity: 0.7;
  justify-content: center;
  align-content: center;
}

/* ========================
 !      game screen gameboard classes 
                ======================== */

.Class_Turn_Players {
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.Class_Thinking {
  text-align: center;
  font-size: 3rem;
}

.Class_Left_Pos {
  position: absolute;
  left: 3%;
}

.Class_Right_Pos {
  position: absolute;
  right: 3%;
}

/* ==========
!     placing coins
            ========== */

.Class_Coin_Yellow {
  background-image: url("../Folder_Graphics/Coins/yellow.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
}

.Class_Coin_Red {
  background-image: url("../Folder_Graphics/Coins/red.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
}

.Class_PlacedCoin_1 {
  background-image: url("../Folder_Graphics/Coins/yellow.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.Class_PlacedCoin_2 {
  background-image: url("../Folder_Graphics/Coins/red.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
/* #endregion */

/* #region 4) Settings Menu */

/* ======
!     layout 
            ===== */

.Class_Settings_Menu {
  position: absolute;
  top: 5vh;
  right: 0;
  height: 90vh;
  width: clamp(270px, 20%, 25vw);
  line-height: 0;
}

.Class_Show_Settings {
  animation: Show_Settings_Animation 0.1s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes Show_Settings_Animation {
  from {
    right: -95%;
  }
  to {
    right: 0;
  }
}

.Class_Hide_Settings {
  animation: Hide_Settings_Animation 0.1s ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes Hide_Settings_Animation {
  from {
    right: 0vw;
  }
  to {
    right: -95%;
  }
}

#ID_Setting_Span {
  position: relative;
  top: 0;
  right: -95%;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  width: 100vw;
  max-width: 100%;
  z-index: 1;
  justify-content: center;
  overflow: auto;
  background-color: var(--base-border);
  box-shadow: 0.1rem 0.1rem 1rem black;
  border: solid 2px var(--base-colour);
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  color: var(--main-black);
  text-align: center;
  font-size: large;
  scrollbar-color: dark;
  scrollbar-gutter: both-edges;
}

#ID_Setting_Span::-webkit-scrollbar {
  width: 1rem;
}

#ID_Setting_Span::-webkit-scrollbar-corner {
  background-color: var(--gameboard);
}


#ID_Info_Container,
#ID_Gameboard_Size_Span,
#ID_Stats_Container,
#ID_Delete_All_Container {
  min-width: 100%;
  min-height: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#ID_Info_Container{
    border-bottom: dashed 4px red;
}

#ID_Mechanic_Settings{
  border-block: dashed 4px red;
  margin-block: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


#ID_Colour_Container,
#ID_Language_Container,
#ID_Sound_Container{
  min-width: 100%;
  margin-block: 1em;
  height: 2em;
}

#ID_Colour_Container h3,
#ID_Language_Container h3,
#ID_Sound_Container h3{
  margin-bottom: .5em;
}

.Class_Colour_Toggle {
  min-width: 100%;
  height: 40%;
  display: flex;
}

#ID_Sound_Checkbox {
  height: 1.5rem;
  box-shadow: 0 0 1rem black;
  border-radius: 20%;
}

#ID_Sound_Checkbox:hover {
  box-shadow: none;
}

#ID_Language_Menu {
  cursor: pointer;
  width: 50%;
  height: 1.5rem;
  border: none;
  margin-bottom: 1em; 
}

#ID_Contacts_Container{
  margin-top: 2em;  
  border-top: dashed 4px red;
}

#ID_Contacts_Container,
#ID_Credits_Container{
  min-width: 100%;
  min-height: 2rem;
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#ID_Delete_All_Container{
  padding-top: 2em;
}

#ID_Gameboard_Span{
  margin-top: 1em;
}

#ID_Gameboard_Span h3{
  height: 2rem;
  padding-top: 1em;
}

#ID_Gameboard_Size_Container {
  display: flex;
  justify-items:center;
  align-items:baseline;
  gap: 1rem;
  margin-inline: 1em;
  margin-bottom: -3em;
}
#ID_Gameboard_Size_Container input {
    width: 80%;
    margin-top: auto;  
}

#ID_Gameboard_Size_Container button {
  width: 80%;
  height: 2em;;
}

/* =========
!     typography 
            ========= */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comforter Brush', cursive;
  margin-bottom:  .2em;
}

#ID_Play_Against{
 font-size: large;
}

#ID_Info,
#ID_Sound,
#ID_Label_Colour,
#ID_Language,
#ID_Stats,
#ID_Contact,
#ID_Credits {
  min-width: 100%;
}

#ID_Info,
#ID_Language,
#ID_Stats,
#ID_Contact,
#ID_Credits {
  cursor: pointer;
}

#ID_Info {
  color: var(--main-red);
}

.Class_StatsWrapper {
  margin-inline: 1rem;
}

/* =====
!     hover 
            ====== */

#ID_Info:hover {
  color: black;
}

#ID_Stats_First_Wrapper :hover,
#ID_Stats_Second_Wrapper :hover,
#ID_Contact:hover,
#ID_Credits:hover {
  color: red;
}


#ID_Reset_Easy:hover,
#ID_Reset_Normal:hover{
  color: white;             
}


#ID_Gameboard_Span[data-ingame='yes']  {
  pointer-events: none;
  color: black;
  background-color: lightgrey;
  opacity: .3;
}

#ID_Gameboard_h{
  margin-bottom: .5em;
}


#ID_Stats_Container h3 {
  height: 2rem;
  padding-top: 1em;
}



/* #endregion */

/* #region 5) Typographie */

#ID_Headline {
  text-align: center;
}

#ID_Player_1_Headline {
  width: 100%;
}

#ID_Player_2_Headline {
  width: 100%;
}

#ID_h3_turnText {
  width: 10rem;
  border: dashed 0.3rem var(--base-border);
  padding: 1rem;
}
/* #endregion */

/* #region 6) Inputs, Buttons, Dropdowns, etc...  */

/* ========
!     inputs: text
            ======== */

input {
  width: 28ch;
  max-width: 80%;
  height: 2rem;
  text-align: center;
  margin-bottom: 5vh;
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 0 0 1rem black;
  border: none;
  font-family: "Bebas Neue", cursive;
}

input:hover {
  background-color: var(--prime-darkgrey);
  color: var(--base-border);
  box-shadow: inset 0 0 1rem white;
}

input:focus {
  background-color: var(--prime-darkgrey);
  color: var(--base-border);
  box-shadow: inset 0 0 1rem white;
}



/* ======
!     buttons 
            ====== */

button {
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 0 0 1rem black;
  border: none;
  font-family: "Bebas Neue", cursive;
}

button:hover {
  background-color: var(--prime-darkgrey);
  color: var(--base-border);
  box-shadow: inset 0 0 1rem white;
}

#ID_Start_Button {
  cursor: pointer;
  min-width: 12.5vw;
  min-height: 7.5vh;
}

.Class_Naming_Span {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.Class_Player_Name_Buttons {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5vh;
  filter: invert(1);
}

#ID_Reset_Easy {
  min-width: 50%;
}

#ID_Reset_Normal {
  min-width: 50%;
}

#ID_Delete_All {
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  border-radius: 10%;
}

#ID_NewGame_Button {
  cursor: pointer;
  min-width: 12.5vw;
  min-height: 7.5vh;
  border-radius: 10rem;
  margin-right: 1rem;
  margin-top: 10vh;
}

#ID_Back_Button {
  cursor: pointer;
  min-width: 12.5vw;
  min-height: 7.5vh;
  border-radius: 10rem;
  margin-left: 1rem;
  margin-top: 10vh;
}

/* =========
!     dropdowns 
            ========= */

select {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 0 0 1rem black;
  border: none;
  font-family: "Bebas Neue", cursive;
}

select:hover {
  background-color: var(--prime-darkgrey);
  color: var(--base-border);
  box-shadow: inset 0 0 1rem white;
}

#ID_Choose_KI {
  min-height: 1rem;
  border-radius: 10rem;
}


/* =====
!     toggle 
            ===== */

#ID_Toggle_Button {
  position: relative;
  top: 0;
  left: 5%;
  background-color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

#ID_Toggle_Button:hover {
  background-color: var(--gameboard);
}

.Class_Toggle {
  transform: translateX(1.8rem);
}

.Class_Colour_Slider {
  position: relative;
  cursor: pointer;
  top: 0%;
  left: 41%;
  width: 3rem;
  height: 1rem;
  background-color: yellow;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
  box-shadow: 0 0 1rem black;
  border: none;
}

.Class_Colour_Slider:hover {
  box-shadow: none;
}

/* ========
!     summarys 
            ======== */

.Class_Summary_Details {
  margin-top: 1em;
}

.Class_Summary_Details:hover {
  cursor: pointer;
}

.Class_Settings_Summarys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

/* #endregion */

/* #region 7) Animations & Transitions */

/*#region  Choosing Coin Animations */

/* ==================
!     choosing coin animations
            =================== */

.Class_ChoosingAnimation_Coin_1 {
  background-image: url("../Folder_Graphics/Coins/yellow.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  animation: choosing_Coin_1_Animation 1s infinite alternate;
}

@keyframes choosing_Coin_1_Animation {
  from {
    background-position: center;
    background-size: 80%;
  }

  to {
    background-position: center;
    background-size: 50%;
  }
}

.Class_ChoosingAnimation_Coin_2 {
  background-image: url("../Folder_Graphics/Coins/red.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  animation: choosing_Coin_2_Animation 1s infinite alternate;
}

@keyframes choosing_Coin_2_Animation {
  from {
    background-position: center;
    background-size: 80%;
  }

  to {
    background-position: center;
    background-size: 50%;
  }
}
/*#endregion */

/*#region Save Name Animations */

/* =====================
!     player save name animations
            ===================== */

.Class_Buttons_Add_Hover_Animations_1 {
  cursor: pointer;
  animation: Button_1_Add_Animation .1s;
  animation-fill-mode: forwards;
}

@keyframes Button_1_Add_Animation {
  from {
    filter: invert(1);
    transform: rotate(0deg);
  }
  to {
    filter: brightness(0) saturate(100%) invert(91%) sepia(80%) saturate(5882%)
      hue-rotate(354deg) brightness(107%) contrast(104%);
    transform: rotate(90deg);
  }
}

.Class_Buttons_Remove_Hover_Animations_1 {
  animation: Button_1_Remove_Animation .5s;
  animation-fill-mode: forwards;
}
@keyframes Button_1_Remove_Animation {
  from {
    filter: brightness(0) saturate(100%) invert(91%) sepia(80%) saturate(5882%)
      hue-rotate(354deg) brightness(107%) contrast(104%);
    transform: rotate(90deg);
  }
  to {
    filter: invert(1);
    transform: rotate(0deg);
  }
}

.Class_Buttons_Add_Hover_Animations_2 {
  cursor: pointer;
  animation: Button_2_Add_Animation .1s;
  animation-fill-mode: forwards;
}

@keyframes Button_2_Add_Animation {
  from {
    filter: invert(1);
    transform: rotate(0deg);
  }
  to {
    filter: brightness(0) saturate(100%) invert(17%) sepia(91%) saturate(7221%)
      hue-rotate(359deg) brightness(122%) contrast(119%);
    transform: rotate(-90deg);
  }
}

.Class_Buttons_Remove_Hover_Animations_2 {
  animation: Button_2_Remove_Animation .5s;
  animation-fill-mode: forwards;
}
@keyframes Button_2_Remove_Animation {
  from {
    filter: brightness(0) saturate(100%) invert(17%) sepia(91%) saturate(7221%)
      hue-rotate(359deg) brightness(122%) contrast(119%);
    transform: rotate(-90deg);
  }
  to {
    filter: invert(1);
    transform: rotate(0deg);
  }
}
/*#endregion*/

/* #endregion */

/* #region 8) Game End Screen */

/* ===================
!     firework canvas container
            =================== */

.Class_Canvas_Div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

/* Content Animation */ 

.Class_Game_End{
  animation: End_Animation 4s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes End_Animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

body[data-gameend = 'yes']{
  display: flex;
}

#ID_MainWrapper[data-gameend = 'yes']{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-size: large;
}

#ID_MainWrapper[data-canvasend = 'yes']{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-size: large;
}

#ID_GameboardWrapper[data-gameend="yes"]{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 35vh;
  aspect-ratio: 1/1;
  margin-block: 2em;
}

.Class_Top_End {
  background-color: var(--base-border);
  opacity: 0.7;
}

#ID_End_H1 {
 margin-top:10vh; 
}

#ID_End_Text {
  margin-top: 5vh;
}

#ID_End_Button_Div {
  margin-top: 4vh;
  justify-content: center;
  align-content: center;
}

/* =========
!     win counter
            ========= */

#ID_Win_Div_One {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin: 2em;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  font-size: large;
}


#ID_Win_Div_Two {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 2em;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  font-size: large;
  
}

#ID_Draw_Div {
  position: absolute;
  margin-top: 2em;
  top: 0;
  right: 50%;
  transform: translateX(+50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start; 
  font-size: large;
}

*[data-wincounter = "yes"] {
  height: 3rem;
  margin: .5rem;
  filter: invert(1);
}

#ID_Canvas_Div{
  z-index: -1;
}

/* #endregion */

/* #region 9) Helpers */

.Class_Invisible {
  visibility: hidden;
}

.Class_Full_Column {
  pointer-events: none;
}

.Class_Smooth_In {
  animation: SmoothInAnimation .1s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes SmoothInAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.Class_Smooth_Out {
  animation: SmoothOutAnimation .1s ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes SmoothOutAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* ==========
!     new windows
            ========== */

.Class_Window {
  min-height: 30vh;
  max-height: 75vh;
  width: 50%;
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 25%;
  display: grid;
  grid: 1rem auto 1rem / 1fr;
  justify-items: center;
  text-align: center;
  background-color: grey;
  border: solid 1px black;
  font-size: xx-small;
  color: white;
  text-align: center;
}

.Class_Inner_Window {
  width: calc(100% - 2rem);
  display: grid;
  grid: 2rem auto 4rem / 1fr;
  max-block-size: 65vh;
  justify-items: center;
  align-items: center;
  background-color: white;
  color: black;
  border: solid 1px black;
  font-size: small;
}

.Class_Inner_Window h3 {
  color: red;
}

.Class_Inner_Window p {
  align-self: center;
  margin-top: 2rem;
  height: 100%;
  overflow-y: auto;
}

.Class_Inner_Window input {
  height: 2rem;
  width: 60%;
  background-color: darkgray;
  text-align: center;
  border: solid 1px black;
}

.Class_Buttons_Div {
  display: flex;
  gap: 1rem;
  height: 2rem;
}

.Class_Inner_Window button {
  width: 5rem;
  height: 2rem;
  border: solid 1px black;
}
/* #endregion */

/* #region 10) Media Queries */

@media (max-width: 767.98px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .Class_MainWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .Class_HeadlineTop {
    text-align: center;
    margin-top: 3rem;
  }

  .Class_GameboardWrapper {
    min-width: 75vw;
    min-height: 50vw;
  }

  .Class_Gameboard_Wrapper_InGame {
    min-width: 100%;
    margin-top: 0%;
  }

  .Class_Settings_Menu {
    position: absolute;
    right: 46vw;
    top: 2vh;
    filter: invert(1);
  }
  .Class_Naming_Span {
    display: inline-block;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }

  .Class_Player_Name_Buttons {
    margin-block: 1rem;
  }

  #ID_Player_1_Name {
    min-width: 100%;
  }

  #ID_Player_2_Name {
    min-width: 100%;
  }

  .Class_LeftSidebarWrapper {
    width: 100%;
    margin-block: 2rem;
  }
  .Class_RightSidebarWrapper {
    width: 100%;
    margin-block: 2rem;
    margin-bottom: 1rem;
  }

  .Class_Turn_Players {
    display: flex;
    min-width: 100%;
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .Class_Left_Pos {
    bottom: 0;
  }
  .Class_Right_Pos {
    bottom: 0;
  }

  #ID_Start_Button {
    min-width: 30%;
    margin-bottom: 5%;
  }

  #ID_Setting_Span {
    overflow: hidden;
  }

  /* Gaḿe End Screen Mobile*/
               /* Move Gameboard at the End of the Game Animation */
  .Class_Gameboard_End {
    transform: scale(0.5);
  }

  .Class_Top_End {
    display: none;
  }

  #ID_NewGame_Button {
    min-width: 40%;
  }

  #ID_Back_Button {
    min-width: 40%;
  }

  #ID_End_Button_Div {
    margin-block: 2rem;
  }

  /* Win Marks */
  #ID_Win_Div_One {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 3rem;
    min-height: 2rem;
    display: flex;
    align-items: flex-end;
  }

  #ID_Win_Div_Two {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 3rem;
    min-height: 2rem;
    display: flex;
    align-items: flex-end;
  }
}

/* #endregion*/

/* #region 11) Final Informations & Comments */

/*
?                         CSS Bonus Jobs
todo
todo
todo
*/



/* #endregion */

/* #region 12) Credits */
/*
                                                                                                  
 !                                              Credits & Special Thanks to:                                                 
                                                                                                  
Special thanks to the "Odin Project"-Team who did a great job in giving advice for learning Web-Development.    
?                                             https://www.theodinproject.com/                                               
                                                                                                  
                  Greetings to the many, many programmers who take the time to put there knowledge online!         
            Of course also big thanks to all photographers and graphic designers who make their works available.        
                                                                                                  
?                                             CSS - what a wonderful language.                                              
*/

/* #endregion */

/* ====================
?     My CSS-Coding Guideline
        =====================*/

/* #region CSS-Check & Infolist */ /*                
?         Umgebung
-) VS Studio Terminal hilft bei Tippfehler!
-) Auskommentieren CTRL + K + C
-) Chrome / Firefox Dev Browsers installieren -> Element - Layout - Styles to change CS properties, toggle states, analyze animations etc...
    Tools nutzen!
https://www.mozilla.org/de/firefox/developer/
https://developer.chrome.com/docs/devtools/
-) In Konsole document.designMode = "on" stellen und man kann die Page verändern
-) Page-Refresh CTRL+F 
-) Zen-Mode STRG + #
-) Wichtig: Um alle Browser anzugleichen, bei Designgruppen outline wegnehmen und dann für alle einen hover & focus machen!
-) Chrome Dev Tools das Element auswählen, Button (links oben) nutzen um zb.: Text Kontrast ablesen zu können !
-) Visbug nutzen!
-) Benutze '' statt "", dann ist es leichter dem User die Möglichkeit "" zu geben
.
?         CSS-

todo cross-browser support
        :focus überall wo :hover gesetzt wird

todo box-sizing 
        *, *::before, *::after  {box-sizing: border-box} nimmt alle width-heights von den bordern weg - agieren wie outline, aber in den Richtungen steuerbar.
todo div
        Default kein margin.
todo    height
   height: 100%;  Der Prozentwert bezieht sich auf das parent-Element. Wenn parent body{} ist und sonst kein Element angehängt ist, ist der Container (body) klein!
   height: auto; Ist der Defaultwert und aus responsiven Gründen immer vorzuziehen wenn es geht. Ansonsten min-height - height: px; nur dann, wenn es sein muss!
https://www.youtube.com/watch?v=SjYYfd7obug&t=272s
todo     border
    border: 0; entfernt die border width.
todo     margin
    margin-left: auto; --> nimmt den Platz rechts und halbiert ihn.
    margin: auto; interresant für nav-Listen ul li:nth-of-type(5) selektiert das 5te li-Element inder Liste. Ist es das letzte li, kannst du es mit margin-left: auto; ganz nach rechts schieben! Ein zusätzliches  margin-rihgt: aut; centert es daann
https://www.youtube.com/watch?v=3LlLkapKw6Q
todo     Buttons
    Animation mit brightness oder saturation langsam hoch fahren
    Hat ein Button einen border, kannst du dem anderen einen Border in der Farbe seines Hintergrundes geben damit die width/height ausgeglichen wird.

todo em / rem
    Für Fonst-Size eher rem, für padding/margin eher em --> rem bleibt immer gleich solange root 16px bleibt , bei em wird das margin/paddingh höher wenn man die font size des elements  größer wird 
      rem= follow the device pre-assigned font-size      em= follow your font-size parent,
      normally the parent is <body>, if is not modified by you, it will be like 16px (depends on the browser)
      so if you write 1em = you write 15px;  (rounded for simplicity)
      2em = 30px
      3em = 45px
      1.5em = (1.5*15) -> 22px;
      1- and that's is fantastic, because no need to write very long complex px or points numbers;
      2 - just change the parent number to change all children size!
      font-size it works with both text and svg.
      be careful: EM can make bugs in your html, 
      because if you select elements without specifying well, 
      it can happen as in the video (or recursive things)
      example: 
      div {
      font-size: 2em;
      }
      and you have nesting divs like this:
      <div>
          <div>
                <div>
                </div>
          </div>
      </div>
      in that case is like recursive:
      the first div have 2em size;
      second 4em;
      third 8em
      because everyone is parent, so use IDs or class               

?         Flexbox & Grid
todo    margin-collapse
      Sobald flex oder grid attached collapsen die block-margins nicht mehr. Das bedeutet zb.: wenn mehrerer columns nebeneinander sind und dann der screen kleiner wird verdoppeln sich die Abstände!
      Besser: Margins ganz weglassen und mit Gap arbeiten. Alle flex-items verhalten sich so, auch h, p, usw... haben bei Block margins und verdoppeln sich. 
?         CSS-Grid
-) grid-template-columns
  grid-template-columns: repeat(auto-fill / auto-fit, minmax(250px, 1fr)); => Row darf höchsten 1fr hoch sein und wenn es 250px wird macht Grid eine neue Row auf!
https://www.youtube.com/watch?v=qII5BueXWD4
?         CSS-Flexbox
todo    flex-basis
    Ist die ideale Größe für Container. In Verbindung mit flex-wrap kann man container (text) overflow verhindern.
  ?         6 Outline-Button-Hover Effekte 
  !                    by Kevin Powell   
    https://www.youtube.com/watch?v=3LlLkapKw6Q
    outline + padding erzeugt gerahmten Text, wenn dann :hover, focus {outline-offset: 2px}gesetzt wird erzuegt man einen "wird größer"-Effekt.
              Das kann man auch mit transition unterstützen: zb.: 250ms ease ! 
              Doppelter Rahmen Effekt nach außen: border: 2px; outline: 2px outline-offset: -2px for dem hover/focus, outline-offset: 2px in diesem.
              Doppelter Rahmen Effekt nach innen: Dazu muss im focus/hover outline-offset: -6px gesetzt werden.
              + wenn jetzt die Outline eine andere Farbe hat als Hintergrund+Border ergibt sich ein neues Effektbild. 
              "Zoom"-Effekt.
              Zweiliniger Rahmen, der nach hover ausgefüllt und verdoppelt wird.
              
-) Wiederholende values mit custom properties kaschieren.
-) Wiederholenden Code gruppieren! 
   h1, h3, btn, .Class_X {...}
-) :is() Pseudoklasse verwenden: 
   header:is(h3, p, .Class_Button, ....){....} gute Möglichkeit zum gruppieren.
   
   :is() umgekehrt:   
   :is(header, .Class_X, ...) p:hover{...} wendet auf alle p in header und Class_x das :hover an!
   Wichtig: Das Element mit der höchsten Spezifität setzt die ganze Gruppe darauf -> zb.: Klasse ist höher als p
-) Attribute nutzen! Alles was gesetzt wurde, kann verwendet werden, auch zb.: 
   a[href="about.html"], a[class=""], a[class|="link"] selektiert alle Klassen die mit "link" beginnen, aber das ganze Wort.
   a{^="http"] selektiert alle http und https, 
-) CSS-Background Cliptext einsetzen für "ausdem nichts kommen Effekt"
-) ::after / ::before für zb.: Punkt -> Strich Animation, Icons über url, pdf files etc...
-) Font Styling
-) Use padding on text! like: padding: 2rem 0;
/*
-) Try get "this is 1 block to read, this is anothe rone,...."
-) No text-align on large texts
-) margin-inline , background-clip background-text-clip 
-) Optimale textlänge mit clamp:    width: clamp(45ch, 50%, 75ch);
-) ch als Eineheit benutzen!
-) inset ist wie padding/margin! Zb.: el{ inset: 3rem 3rem 3rem 3rem }
-) scroll-behaviour : smooth
-) content-visibility auto
-) Swiping: .container {scroll-snap-type: y mandatory} .child (muat be saection) {scroll-snap-align: start} 
            create a anker point for swipping like tinder
*/

/*
-) if / else
vollwertiges if
Wenn am Gameboard_Span das data-ingame attribute "yes" ist, dann soll Button, Input, #ID-xy,,... rot sein!
#ID_Gameboard_Span[data-ingame='yes'] button, input, #ID_xy, .Class_yx {
    background-color: red;
Tuascht den h3 Text aus und stellt #ID_Info um
#ID_Gameboard_Span[data-ingame='yes'] h3:after, #ID_Info {
    content: "Not allowed!";
    color: black;
    position: relative;
    left: 0;
    top: 0;
    display: block;
  
}
:checked { if  }
:not(:checked) { else  }
[data-attr="true"] {  if   }
[data-attr="false"] {  elseif  }
:not([data-attr]) {  else }
The following selector matches only <a> elements that directly contain an <img> child:
a:has(> img)
The following selector matches <h1> elements only if they have a <p> element directly following them:
h1:has(+ p)
*/

/*
-) Trenner:
     / =======  
!        Functions
           ======== /
     / =======  
?        Headlines
           ======== /     
 */
               
 /*#endregion*//*

/* #region Media Queries */ /*
      Max-Width - Breakpoints mit max-width beginnen mit dem Layout für den größten Monitor, also beim Design für den Desktop 
                  und überschreiben nach und nach Stile, um die Seiten an immer kleinere Displaygrößen anzupassen.
         Kleine Endgeräte (Smartphones, kleiner als 768px):
               @media (max-width: 575.98px) { … }
               @media (max-width: 767.98px) { … }
         Kleine Endgeräte (Tablets, kleiner als 992px):
               @media (max-width: 991.98px) { … }
         Große Endgeräte (Laptops, Bildschirme, kleiner als 1200px):
               @media (max-width: 1199.98px) { … }
      Min-Widt - ist intuitiver und besser lesbar.
         Kleine Endgeräte (Smartphones, 576px und größer):
               @media (min-width: 576px) { … }
         Mittlere Endgeräte (Tablets, 768px und größer):
               @media (min-width: 768px) { … }
         Große Endgeräte (Laptops, Bildschirme, 992px und größer):
               @media (min-width: 992px) { … }
         Sehr große Endgeräte (Große Bildschirme, iMac, 1200px und größer):
               @media (min-width: 1200px) { … }
                                                                                                                                                                                                                                                                                                   /*#endregion*/ /*

/* #region Scrollbar Design */ /*                                                                                                                                                                                                                                                                                                                                 
-) Scrollbar Design:
      Scrollbar Firefox
         el{
            scrollbar-color: dark;
            scrollbar-width: .5rem;
            scrollbar-gutter: both-edges ;
         }
       Scrollbar Chrome, Safari,...
         ::-webkit-scrollbar — the entire scrollbar.
         ::-webkit-scrollbar-button — the buttons on the scrollbar (arrows pointing upwards and downwards that scroll one line at a time).
         ::-webkit-scrollbar-thumb — the draggable scrolling handle.
         ::-webkit-scrollbar-track — the track (progress bar) of the scrollbar, where there is a gray bar on top of a white bar.
         ::-webkit-scrollbar-track-piece — the part of the track (progress bar) not covered by the handle.
         ::-webkit-scrollbar-corner — the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet This is often the bottom-right corner of the browser window.
         ::-webkit-resizer — the draggable resizing handle that appears at the bottom corner of some element
                                                                                                                                                                                                                                 /*#endregion*/

/*#region CSS-Templates */

/*#region Box-Hover-Line  */

/*
.element {
  width: 25rem;
  height: 15rem;
  background-color: white;
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  transition: all 250ms ease;
  position: relative;
}
.element:after {
  transition: all 250ms ease;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1rem;
  height: 1rem;
  background-color: pink;
}
.element::after + :hover {
  width: 5rem;
}
.element:hover:after {
  width: 100%;
}
*/

/*
HTML:
<div class="element">Element</div>
*/

/*#endregion*/

/*#endregion*/ 

