/* #region table of content */
/*    
!                  Four-Wins-Online Main-CSS-Stylsheet
?                                    powered by
!                                     Stefan Bartl
!                      (WKDSteVIE / WKDMinerva)
?                                          2021                                                                                                                                                                        
?                  ________________________________                                                                                                                                                                                                  
!                                   table of content

?                                     1) general                                                                                                
?                                     2) layout                                                                                                                                      
?                                     3) gameboard                                                                                                                                 
?                                     4) settings-menu                                                                                                                                                                                   
?                                     5) typography                                                                                                                                        
?                                     6) inputs, buttons, dropdowns, etc...                                                                                                         
?                                     7) animations & transitions                                                                                                                       
?                                     8) game-end screen           
?                                     9) helpers                                   
?                                    10) media queries                                                                                                                                   
?                                    11) final information & comments                                                                                                                    
?                                    12) credits                                                                                                                                                                                                                                                                                                                                                                                                              */
/*#endregion*/

/* #region jobs to-do */
/*

!                           Jobs To-Do: 

todo    -) Game-End-Screen Style
todo    -) data-x Attribute verwenden wo es Sinn macht.
todo    -) Scrollbar rechts am starting Bildschirm muss weg, sonst funktioniert das Menu ästhetisch nicht mehr.
todo    -) :focus on all :hovers for Cross-Browser-Support!
todo    -) Test and repair responsivness in all sizes! -> Menu muss von der Seite weg!
todo    -) CSS-Code minimizing f.e. bind repetative Classes to one Class!
todo    -) INGAME Section?
todo    -) Fonts!
todo    -) Font working on all Browser correctly?
todo    -) Find a final, real good styling!

?                               Finish
todo    -) Take a look at the Bonus Jobs - maybe you have enough passion to do one :-)
todo    -) Final formatation (especially script & library sections/functions), comments:
todo    -) Make sure all important is commented !
todo    -) Write a final Comment !
todo    -) Save Default Script Files with the new Script Layout for later Projects. Also the index with the all new Toggle Slider and make a new 'global' Library for JS & CSS !

!                         Session progress:                                                
? -)                                                                                                                                                                                             
*/
/* #endregion */

/* #region 1) general */

:root {
  /* ==========
 ?       colour pallete 
              ========== */

  --prime-blueviolett: hsl(238, 56%, 19%);
  --prime-darkgrey: hsl(330, 2%, 17%);
  --prime-green: hsl(95, 63%, 36%);
  --prime-yellow: hsl(43, 100%, 50%);
  --prime-manner: hsl(10, 60%, 80%);
  --prime-lightgrey: hsl(71, 13%, 67%);

  --base-colour: hsl(201, 79%, 46%);
  --main-black: hsl(0, 0%, 0%);
  --main-red: hsl(0, 100%, 50%);

  --base-border: hsl(0, 0%, 100%);
  --gameboard: hsl(240, 100%, 49%);
  --cornsilk: hsl(48, 100%, 93%);
  --top-header: hsl(39, 77%, 83%);

  overflow-wrap: break-word;
  word-wrap: break-word;

  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

/* =====
?     resets 
            ===== */
/* #region Resets */

/* box-sizing */
*, *::before, *::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
} 

/* margins */
body,
h1, h2, h3, h4, h5, h6,
figure, picture {
  margin: 0;
}

/* set up the body*/
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */ 
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who turned them off*/
@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* #endregion */

/*#region fonts */
/* =====
?     fonts 
            ===== */

/* Page: Sans-serif,   font-family: 'Anton', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/* Headlines: Handwriting, font-family: 'Comforter Brush', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

/* #endregion */

/* #endregion */

/* #region 2) layout */

body {
  background-color: var(--base-colour);
  z-index: -3;
  font-family: 'Titillium Web', sans-serif;
  color: var(--top-header);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid: 20vh auto auto / 1fr;
  font-family: 'Anton', sans-serif;
}

/* ==========
?     body grid layer 
            ========== */

header {
  border-bottom: solid 1vh var(--base-border);
  border-radius: 1em;
  line-height: 0;
  display: grid;
  grid: 1fr 1fr / 1fr;
}

#main__section {
  display: grid;
  grid: auto / 30% auto 30%;
  grid-template-areas: 'leftSide gameboard rightSide';
}

/* ===============
?     sidebars grid layer 
          ================ */

#leftSidebar__wrapper {
  grid-area: leftSide;
}

#sidebarRight__wrapper {
  grid-area: rightSide;
  z-index: 1;
}

.sidebars {
  border-bottom: solid 1px var(--base-border);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  border-top: solid 1px var(--base-border);
  margin-top: 20%;

}

.sidebars h3{
  margin-top: 1em;
}

/* =========
?     gameboard 
            ========= */

.Class_GameboardWrapper {
  grid-area: gameboard;
  display: flex;
  background-color: var(--gameboard);
  border: solid 1rem var(--gameboard);
  border-top: dashed 0.1rem var(--gameboard);
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.Class_GameboardWrapper[data-inGame='yes'] {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 70vh;
    aspect-ratio: 1/1;
}

.Class_GameboardWrapper[data-inGame='gameend'] {
    margin-block: 2rem;
}

footer {
  display: grid;
  grid: 1fr / repeat(8, 1fr);
  gap: 1em;
  justify-content: center;
  text-align: center;
  margin-block: 1em;
}

#choosing_cpu {
  grid-column-start: 3;
  grid-column-end: 5;
  justify-self: flex-end;
}

/* #endregion */

/* #region 3) gameboard */

.Class_Columns {
  width: 100%;
  height: max-content;
}

.Class_TopCells {
  outline: none;
  aspect-ratio: 1/1;
  border-left: dashed 0.15rem var(--base-border);
  background-color: var(--base-colour);
  cursor: pointer;
}

    /* If column is full lock the top-cell,...*/
.Class_TopCells[data-columnfull='yes'] {
  border-top: solid 2px var(--gameboard);
  pointer-events: none;
}

#ID_C1R0{
    border-left: none;
}

.Class_Cells {
  aspect-ratio: 1 / 1;
  border: solid 0.2rem var(--gameboard);
  border-radius: 10rem;
  background-color: var(--base-border);
  opacity: 0.7;
  justify-content: center;
  align-content: center;
}

/* ========================
 ?      game screen gameboard classes 
                ======================== */

.Class_Turn_Players {
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.Class_Thinking {
  text-align: center;
  font-size: 3rem;
}

.Class_Left_Pos {
  position: absolute;
  left: 3%;
}

.Class_Right_Pos {
  position: absolute;
  right: 3%;
}

/* ==========
?     placing coins
            ========== */

.Class_Coin_Yellow {
  background-image: url('../Folder_Graphics/Coins/yellow.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
}

.Class_Coin_Red {
  background-image: url('../Folder_Graphics/Coins/red.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
}

.Class_PlacedCoin_1 {
  background-image: url('../Folder_Graphics/Coins/yellow.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.Class_PlacedCoin_2 {
  background-image: url('../Folder_Graphics/Coins/red.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
/* #endregion */

/* #region 4) settings menu */

/* ==============
?     settings-menu layout 
            =============== */

#settings_menu__section {
  position: absolute;
  top: 5vh;
  right: 0;
  height: 90vh;
  width: clamp(270px, 20%, 25vw);
}

#settings_span {
  position: relative;
  top: 0;
  right: -95%;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  max-width: 100%;
  z-index: 1;
  justify-content: center;
  overflow: auto;
  background-color: var(--base-border);
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  color: var(--main-black);
  text-align: center;
  font-size: large;
}

#settings_span >div, h2, h3 {
  min-width: 100%;
}

#settings_span h2{
  color: red;
}

/* ===============
?     settings-menu content 
            ================ */


#settings_span__gameboard{
  display: flex;
  flex-direction: column;
}

#settings_span__gameboard h3{
  height: 2em;
}

#container_settings_gameboard_sizing {
  display: flex;
  justify-items:center;
  align-items:center;
  gap: 1rem;
  margin-inline: 1em;
}

#container_settings_gameboard_sizing input {
    width: 80%; 
}

#container_settings_gameboard_sizing button {
  width: 80%;
  height: 2em;;
}

#span_settings_mechanics{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container_colour,
#container__language,
#container__sound{
  margin-bottom: .5em;
}

.container_colour_toggle {
  min-width: 100%;
  height: 40%;
  display: flex;
}

#h__soundund_Checkbox {
  height: 1.5rem;
  box-shadow: 0 0 1rem black;
  border-radius: 20%;
}

#checkbox__sound:hover {
  box-shadow: none;
}

#select__language {
  cursor: pointer;
  width: 80%;
  height: 1.5em;
  border: none;
  margin-bottom: 1em; 
}

#container__stats{
  display: grid;
  grid: 2em auto/ 1fr 1fr ;
  grid-template-areas: 
    'h h h'
    'e . n';
  min-width: 100%;  
}

#h__stats {
  grid-area: h;
}

#h__stats_First_Wrapper{
  grid-area: e;
}
#h__stats_Second_Wrapper {
  grid-area: n;
}

details[open] p {
  animation: animateDown 0.2s linear forwards;
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translatey(-15px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}


#container__contacts,
#container__credits,
#container__delete{
  margin-block: .5em;
}


/* =========
?     typography 
            ========= */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comforter Brush', cursive;
  margin-bottom:  .2em;
}

#choosing_cpu_headline{
 font-size: large;
}


#info_h,
#h__language,
#h__contact,
#h__credits {
  cursor: pointer;
}


/* =====
?     hover 
            ====== */

#info_h:hover,
#wrapper__stats_easy :hover,
#wrapper__stats_normal :hover,
#h__contact:hover,
#h__credits:hover {
  color: red;
}

#reset_easy:hover,
#reset__normal:hover{
  color: white;             
}

#settings_span__gameboard[data-ingame='yes']  {
  pointer-events: none;
  color: black;
  background-color: lightgrey;
  opacity: .3;
}

/* #endregion */

/* #region 5) typographie */


#ID_h3_turnText {
  width: 10rem;
  border: dashed 0.3rem var(--base-border);
  padding: 1rem;
}
/* #endregion */

/* #region 6) inputs, buttons, dropdowns, etc...  */

/* ========
?     inputs: text
            ======== */

input {
  width: 28ch;
  max-width: 80%;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 0 0 1rem black;
  border: none;
  font-family: 'Bebas Neue', cursive;
}

input:hover {
  background-color: var(--prime-darkgrey);
  color: var(--base-border);
  box-shadow: inset 0 0 1rem white;
}

input:focus {
  background-color: var(--prime-darkgrey);
  color: var(--base-border);
  box-shadow: inset 0 0 1rem white;
}

.sidebars input {
  margin-bottom: 5vh;
}

/* ======
?     buttons 
            ====== */

button {
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 0 0 1rem black;
  border: none;
  font-family: 'Bebas Neue', cursive;
}

button:hover {
  background-color: var(--prime-darkgrey);
  color: var(--base-border);
  box-shadow: inset 0 0 1rem white;
}

.naming__span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_svgs {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5vh;
  filter: invert(1);
}

#reset_easy {
  min-width: 50%;
}

#reset__normal {
  min-width: 50%;
}

#button__delete {
  cursor: pointer;
  
  border-radius: 10%;
}

#ID_NewGame_Button {
  cursor: pointer;
  min-width: 12.5vw;
  min-height: 7.5vh;
  border-radius: 10rem;
  margin-right: 1rem;
  margin-top: 10vh;
}

#ID_Back_Button {
  cursor: pointer;
  min-width: 12.5vw;
  min-height: 7.5vh;
  border-radius: 10rem;
  margin-left: 1rem;
  margin-top: 10vh;
}

/* =========
?     dropdowns 
            ========= */

select {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 0 0 1rem black;
  border: none;
  font-family: 'Bebas Neue', cursive;
}

select:hover {
  background-color: var(--prime-darkgrey);
  color: var(--base-border);
  box-shadow: inset 0 0 1rem white;
}

#choosing_cpu__select {
  min-height: rem;
  border-radius: 10rem;
}

/* =====
?     toggle 
            ===== */

#button__toggle {
  position: relative;
  top: 0;
  left: 5%;
  background-color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

#button__toggle:hover {
  background-color: var(--gameboard);
}

.Class_Toggle {
  transform: translateX(1.8rem);
}

.span_colour_slider {
  position: relative;
  cursor: pointer;
  top: 0%;
  left: 20%;
  width: 3rem;
  height: 1rem;
  background-color: yellow;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
  box-shadow: 0 0 1rem black;
  border: none;
}

.span_colour_slider:hover {
  box-shadow: none;
}

/* ========
?     summarys 
            ======== */

.summary__details
 {
  margin-top: 1em;
}

.summary__details
:hover {
  cursor: pointer;
}

.span_stats {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

/* #endregion */

/* #region 7) animations & transitions */

/*#region  choosing coin animations */

/* ==================
?     choosing coin animations
            =================== */

.Class_ChoosingAnimation_Coin_1 {
  background-image: url('../Folder_Graphics/Coins/yellow.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  animation: choosing_Coin_1_Animation 1s infinite alternate;
}

@keyframes choosing_Coin_1_Animation {
  from {
    background-position: center;
    background-size: 80%;
  }

  to {
    background-position: center;
    background-size: 50%;
  }
}

.Class_ChoosingAnimation_Coin_2 {
  background-image: url('../Folder_Graphics/Coins/red.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  animation: choosing_Coin_2_Animation 1s infinite alternate;
}

@keyframes choosing_Coin_2_Animation {
  from {
    background-position: center;
    background-size: 80%;
  }

  to {
    background-position: center;
    background-size: 50%;
  }
}
/*#endregion */

/*#region save name animations */

/* =====================
?     player save name animations
            ===================== */

.Class_Buttons_Add_Hover_Animations_1 {
  cursor: pointer;
  animation: Button_1_Add_Animation .1s;
  animation-fill-mode: forwards;
}

@keyframes Button_1_Add_Animation {
  from {
    filter: invert(1);
    transform: rotate(0deg);
  }
  to {
    filter: brightness(0) saturate(100%) invert(91%) sepia(80%) saturate(5882%)
      hue-rotate(354deg) brightness(107%) contrast(104%);
    transform: rotate(90deg);
  }
}

.Class_Buttons_Remove_Hover_Animations_1 {
  animation: Button_1_Remove_Animation .5s;
  animation-fill-mode: forwards;
}
@keyframes Button_1_Remove_Animation {
  from {
    filter: brightness(0) saturate(100%) invert(91%) sepia(80%) saturate(5882%)
      hue-rotate(354deg) brightness(107%) contrast(104%);
    transform: rotate(90deg);
  }
  to {
    filter: invert(1);
    transform: rotate(0deg);
  }
}

.Class_Buttons_Add_Hover_Animations_2 {
  cursor: pointer;
  animation: Button_2_Add_Animation .1s;
  animation-fill-mode: forwards;
}

@keyframes Button_2_Add_Animation {
  from {
    filter: invert(1);
    transform: rotate(0deg);
  }
  to {
    filter: brightness(0) saturate(100%) invert(17%) sepia(91%) saturate(7221%)
      hue-rotate(359deg) brightness(122%) contrast(119%);
    transform: rotate(-90deg);
  }
}

.Class_Buttons_Remove_Hover_Animations_2 {
  animation: Button_2_Remove_Animation .5s;
  animation-fill-mode: forwards;
}
@keyframes Button_2_Remove_Animation {
  from {
    filter: brightness(0) saturate(100%) invert(17%) sepia(91%) saturate(7221%)
      hue-rotate(359deg) brightness(122%) contrast(119%);
    transform: rotate(-90deg);
  }
  to {
    filter: invert(1);
    transform: rotate(0deg);
  }
}
/*#endregion*/

/*#region settings menu animations */

/* ==============
?     settings-menu animation 
            =============== */

.Class_Show_Settings {
  animation: Show_Settings_Animation 0.1s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes Show_Settings_Animation {
  from {
    right: -95%;
    box-shadow: 0em 0em 2em white;
  }
  to {
    right: 0;
    box-shadow: 0em 0em 2em black;
  }
}

.Class_Hide_Settings {
  animation: Hide_Settings_Animation 0.1s ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes Hide_Settings_Animation {
  from {
    right: 0vw;
    box-shadow: 0em 0em 2em black;
  }
  to {
    right: -95%;
    box-shadow: 0em 0em 2em white;
  }
}


/*#endregion */

/*#region game-end animations*/

.Class_Game_End{
  animation: End_Animation 4s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes End_Animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*#endregion*/

/* #endregion */

/* #region 8) game-end screen */

/* ===================
?     firework canvas container
            =================== */

.Class_Canvas_Div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

body[data-gameend = 'yes']{
  display: flex;
}

#main__section[data-gameend = 'yes']{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-size: large;
}

#main__section[data-canvasend = 'yes']{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-size: large;
}

#ID_GameboardWrapper[data-gameend='yes']{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 35vh;
  aspect-ratio: 1/1;
  margin-block: 2em;
}

.Class_Top_End {
  background-color: var(--base-border);
  opacity: 0.7;
}

#ID_End_H1 {
 margin-top:10vh; 
}

#ID_End_Text {
  margin-top: 5vh;
}

#ID_End_Button_Div {
  margin-top: 4vh;
  justify-content: center;
  align-content: center;
}

/* ===========
?     win notifications
            ============ */

#ID_Win_Div_One {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin: 2em;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  font-size: large;
}

#ID_Win_Div_Two {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 2em;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  font-size: large;
}

#ID_Draw_Div {
  position: absolute;
  margin-top: 2em;
  top: 0;
  right: 50%;
  transform: translateX(+50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start; 
  font-size: large;
}

*[data-wincounter = 'yes'] {
  height: 3rem;
  margin: .5rem;
  filter: invert(1);
}

#ID_Canvas_Div{
  z-index: -1;
}

/* #endregion */

/* #region 9) helpers */

.Class_Invisible {
  visibility: hidden;
}

.Class_Full_Column {
  pointer-events: none;
}

.Class_Smooth_In {
  animation: SmoothInAnimation .1s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes SmoothInAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.Class_Smooth_Out {
  animation: SmoothOutAnimation .1s ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes SmoothOutAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* ==========
!     new windows
            ========== */

.Class_Window {
  min-height: 30vh;
  max-height: 75vh;
  width: 50%;
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 25%;
  display: grid;
  grid: 1rem auto 1rem / 1fr;
  justify-items: center;
  text-align: center;
  background-color: grey;
  border: solid 1px black;
  font-size: xx-small;
  color: white;
  text-align: center;
}

.Class_Inner_Window {
  width: calc(100% - 2rem);
  display: grid;
  grid: 2rem auto 4rem / 1fr;
  max-block-size: 65vh;
  justify-items: center;
  align-items: center;
  background-color: white;
  color: black;
  border: solid 1px black;
  font-size: small;
}

.Class_Inner_Window h3 {
  color: red;
}

.Class_Inner_Window p {
  align-self: center;
  margin-top: 2rem;
  height: 100%;
  overflow-y: auto;
}

.Class_Inner_Window input {
  height: 2rem;
  width: 60%;
  background-color: darkgray;
  text-align: center;
  border: solid 1px black;
}

.Class_Buttons_Div {
  display: flex;
  gap: 1rem;
  height: 2rem;
}

.Class_Inner_Window button {
  width: 5rem;
  height: 2rem;
  border: solid 1px black;
}
/* #endregion */

/* #region 10) media queries */

@media (max-width: 767.98px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .Class_MainWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .Class_HeadlineTop {
    text-align: center;
    margin-top: 3rem;
  }

  .Class_GameboardWrapper {
    min-width: 75vw;
    min-height: 50vw;
  }

  .Class_Gameboard_Wrapper_InGame {
    min-width: 100%;
    margin-top: 0%;
  }

  .Class_Settings_Menu {
    position: absolute;
    right: 46vw;
    top: 2vh;
    filter: invert(1);
  }
  .naming__span {
    display: inline-block;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }

  .name_svgs {
    margin-block: 1rem;
  }

  #player1_name__input {
    min-width: 100%;
  }

  #player2_name__input {
    min-width: 100%;
  }

  #leftSidebar__wrapper {
    width: 100%;
    margin-block: 2rem;
  }
  #sidebarRight__wrapper {
    width: 100%;
    margin-block: 2rem;
    margin-bottom: 1rem;
  }

  .Class_Turn_Players {
    display: flex;
    min-width: 100%;
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .Class_Left_Pos {
    bottom: 0;
  }
  .Class_Right_Pos {
    bottom: 0;
  }

  #start__button {
    min-width: 30%;
    margin-bottom: 5%;
  }

  #settings_span {
    overflow: hidden;
  }

  /* Gaḿe End Screen Mobile*/
               /* Move Gameboard at the End of the Game Animation */
  .Class_Gameboard_End {
    transform: scale(0.5);
  }

  .Class_Top_End {
    display: none;
  }

  #ID_NewGame_Button {
    min-width: 40%;
  }

  #ID_Back_Button {
    min-width: 40%;
  }

  #ID_End_Button_Div {
    margin-block: 2rem;
  }

  /* Win Marks */
  #ID_Win_Div_One {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 3rem;
    min-height: 2rem;
    display: flex;
    align-items: flex-end;
  }

  #ID_Win_Div_Two {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 3rem;
    min-height: 2rem;
    display: flex;
    align-items: flex-end;
  }
}

/* #endregion*/

/* #region 11) final informations & comment */

/*
?                         CSS Bonus Jobs
todo
todo
todo
*/



/* #endregion */

/* #region 12) credits */
/*
                                                                                                  
 !                                              Credits & Special Thanks to:                                                 
                                                                                                  
Special thanks to the 'Odin Project'-Team who did a great job in giving advice for learning Web-Development.    
?                                             https://www.theodinproject.com/                                               
                                                                                                  
                  Greetings to the many, many programmers who take the time to put there knowledge online!         
            Of course also big thanks to all photographers and graphic designers who make their works available.        
                                                                                                  
?                                             CSS - what a wonderful language.                                              
*/

/* #endregion */
